<form action="/update/{{contact.0}}" method="POST">



    <input type="text" name="fullname" placeholder="fullname" value="{{contact.1}}">
    <input type="text" name="phone" placeholder="phone" value="{{contact.2}}">
    <input type="text" name="email" placeholder="Email" value="{{contact.3}}">
    <button type="submit">
        Save
    </button>
</form>
