<!DOCTYPE html>
<html lang="en">
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {%for message in messages %}
<p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {%endwith%}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Up And Play</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CUSTOM CSS -->
  
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css' ) }}">
  
</head>

<body>
<header>
  
</header>
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
<link href="{{ url_for('static', filename='assets/images/dados.png' ) }}" rel="icon">
  <div class="container">
    
    <nav class="nav-main">
      
      <img src="{{ url_for('static', filename='assets/images/dados.png' ) }}" alt="Dados Logo" class="nav-brand">
      
      <ul class="nav-menu">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>
          <li class="nav-item">
          <a class="nav-link" href="/recomanam">Recomendar</a>
      </li>
     <!--<li><input type="text" id ="livebox"></li> forma parte del buscador-->
      </ul>

      
    </nav>
    <hr>

    <!-- SHOWCASE -->
    <div class="social">
     
      
    

    <table>
        <thead>
            <tr>
                <br margin-top: 10px; />
                <td>Nombre Juego </td>
                <td>Imagen </td>
                <td>Descripción  </td>
                <br />
                <td>Min  </td>

                <td>Max  </td>

                <td>Tiempo  </td>

                <td>MinEdad  </td>

                <td>Categorias</td>



            </tr>
        </thead>
        <tbody>
            {% for contact in contacts%}
            <tr>
                <td>{{contact.0}} </td>
                <td><img src={{contact.1}} ></td>
                <td><div class="container">


                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1" class="collapsed" >Descripción</a>
                                    </h4>
                                </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body"><h5>{{contact.2}}</h5></div>

                            </div>
                        </div>
                    </div>
                    </div>
                </td>



                <td>{{contact.3}}</td>
                <a data-toggle="collapse"><td >{{contact.4}}</td></a>
                <td>{{contact.5}}</td>
                <td>{{contact.6}}</td>
                <td>{{contact.7}}</td>


               
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
  

  <!--
    <p id="datalist"></p>
  <script>
    $(document).ready(function(){
      $("#livebox").on("input",function(e){
        textinlivebox=$("#livebox").val();
        
        $("#datalist").empty();
        $.ajax({
          method:"post",
          url:"juegos",
          data:{text:textinlivebox},
          success:function(res){
            
            var data="<tr>";
              $.each(res,function(index,value){
                data+="<td>"+value.gamename+"</td>";

              });
              data+="</tr>";
              $("datalist").html(data);
          }
        })
      });
    })
  </script> buscador pero devuelve undefined-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>
