<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Up And Play</title>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css' ) }}">
  
</head>

<body>
<header>
  
</header>
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>
  <link href="{{ url_for('static', filename='assets/images/dados.png' ) }}" rel="icon">
  <div class="container">
    
    <nav class="nav-main">
      
      <img src="{{ url_for('static', filename='assets/images/dados.png' ) }}" alt="Dados Logo" class="nav-brand">
      
      <ul class="nav-menu">
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
        <li class="nav-item">
          <a class="nav-link" href="juegos">Listado de juegos</a>
      </li>

      </ul>

      
    </nav>
    <hr>

    <!-- SHOWCASE -->
    <header class="showcase" style="background-image : url('/static/assets/images/banner2.jpg' )" alt="Imagen juego de mesa" >
      
      <h1>Group Up And Play</h1>
  <br />

  <h2> Esto es una Página para recomendarte Juegos de Mesa </h2>
      
    </header>

    <!-- inputs -->
    <div class="inputs">
      <div>
        <h3>Nombre Juego</h3>
        <input type="text" class="redondeado" id="NombreJuego" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" class="redondeado" id="RatJuego" value="" />
      </div>
      
      <div>
        <h3>Nombre Juego</h3>
        <input type="text" class="redondeado" id="NombreJuego1" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" class="redondeado" id="RatJuego1" value="" />
       </div>
      <div>
        <h3>Nombre Juego</h3>
        <input type="text" class="redondeado" id="NombreJuego2" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" class="redondeado"  id="RatJuego2" value="" />
      </div>
      <div>
        <h3>Nombre Juego</h3>
        <input type="text" class="redondeado" id="NombreJuego3" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" class="redondeado" id="RatJuego3" value="" />
        </div>
      
    </div>
    <div class="links"><input class="boton_personalizado" type="button" id="BotonEnviar" value="Enviar" /></div>
    
    <!-- Aqui salen los juegos recomendados -->
    <section class="cards-banner-one">

      <script>

        $(document).ready(function () {
           

            $("#BotonEnviar").click(function () {

                
                
                var listajuegos = []
                var listarating = []
                var juego = $('#NombreJuego').val();
                var rat = $('#RatJuego').val();
                var juego1 = $('#NombreJuego1').val();
                var rat1 = $('#RatJuego1').val();
                var juego2 = $('#NombreJuego2').val();
                var rat2 = $('#RatJuego2').val();
                var juego3 = $('#NombreJuego3').val();
                var rat3 = $('#RatJuego3').val();
                //lista.push(juego1 + "," + rat1);
                listajuegos.push(juego + "," + juego1 + "," + juego2 + "," + juego3);
                listarating.push(rat + "," + rat1 + "," + rat2 + "," + rat3);



                $.getJSON("http://127.0.0.1:5000/recomendando/?juegos=" + listajuegos + "&ratings=" + listarating, function (data) {
                    //$.getJSON("http://127.0.0.1:5000/recomendando/?ratings=" + lista, function (data) {
                    //console.log(data);
                    var items = [];

                    $.each(data, function (key, val) {

                        //$.each(val, function (key, val) {



                            //items.push("<li id='" + key + "'>" + val+ "</li>");
                            //items.push("<li id='" + key + "'>" + val.name1 + "</li>");
                        //});
                        

                        
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'><h4>" + val.name + "</h4></li>");
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'><img src =" + val.foto + "></li>");
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'><h5>Descripción: " + val.desc + "</h5></li>");
                        items.push("<li></li>");
                        items.push("<li id='" + key + "'>Minimo de Jugadores: " + val.minp + "</li>");
                        items.push("<li id='" + key + "'>Maximo de Jugadores: " + val.maxp + "</li>");
                        items.push("<li id='" + key + "'>Tiempo Aproximado de Juego: " + val.playtime + "</li>");
                        items.push("<li id='" + key + "'>Edad Mínima para Jugar: " + val.minage + "</li>");
                        items.push("<li id='" + key + "'>Categorias: " + val.categorias + "</li>");
                        items.push("<li></li>");
                        items.push("<li></li>");





                    });

                    $("<ul/>", {

                        html: items.join("")
                    }).appendTo("body");


                    
                });
                
            });

        });
    </script>

    </section>
  </div>

  <!-- Footer Links -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="#">
            <h3>Quienes Somos</h3>
          </a>
        </li>
        <li>
          <a href="#">Esta parte </a>
        </li>
        <li>
          <a href="#">Se las dejo por si </a>
        </li>
        <li>
          <a href="#">se </a>
        </li>
        <li>
          <a href="#">les ocurre </a>
        </li>
        <li>
          <a href="#">algo</a>
        </li>
        <li>
          <a href="#">Bla bla</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Title Two</h3>
          </a>
        </li>
        <li>
          <a href="#">Blockchain</a>
        </li>
        <li>
          <a href="#">Machine Learning</a>
        </li>
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        <li>
          <a href="#">Quantum Computing</a>
        </li>
        <li>
          <a href="#">Startup</a>
        </li>
        <li>
          <a href="#">Cryptocurrencies</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Title Three</h3>
          </a>
        </li>
        <li>
          <a href="#">Blockchain</a>
        </li>
        <li>
          <a href="#">Machine Learning</a>
        </li>
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        <li>
          <a href="#">Quantum Computing</a>
        </li>
        <li>
          <a href="#">Startup</a>
        </li>
        <li>
          <a href="#">Cryptocurrencies</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Title Four</h3>
          </a>
        </li>
        <li>
          <a href="#">Blockchain</a>
        </li>
        <li>
          <a href="#">Machine Learning</a>
        </li>
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        <li>
          <a href="#">Quantum Computing</a>
        </li>
        <li>
          <a href="#">Startup</a>
        </li>
        <li>
          <a href="#">Cryptocurrencies</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <h3>Group Up And Play</h3>
  </footer>

  <!-- Scroll Reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>
</body>

</html>