﻿<!doctype html>
<html lang="en">

<head>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/style.css') }}">

    <title>Group Up And Play</title>
</head>

<body class="article-pg">


        <header class="mt-0 pt-0">
            <div class="bg-cover clearfix pt-3">
                <h2 class="logo">Group Up And Play</h2>
                
                <h1> Esto es una Página para recomendarte Juegos de Mesa </h1>
                <h3>Nombre Juego</h3>
                <input type="text" id="NombreJuego" value="" />
                <h3>Calificación del Juego</h3>
                <input type="text" id="RatJuego" value="" />
                <br />
                <br />
                <input type="button" id="BotonEnviar" value="Enviar" />
                <script>

                    $(document).ready(function () {
                        //console.log('hola');

                        //$("#NombreJuego").hide();

                        $("#BotonEnviar").click(function () {

                            //console.log('hola');
                            var juego1 = $('#NombreJuego').val();
                            var rat1 = $('#RatJuego').val();

                            $.getJSON("http://127.0.0.1:5000/recomendar?juego1=" + juego1 + "&rat1=" + rat1, function (data) {
                                //console.log(data);
                                var items = [];

                                $.each(data, function (key, val) {
                                    items.push("<li id='" + val + "'>" + key + "</li>");
                                });

                                $("<ul/>", {

                                    html: items.join("")
                                }).appendTo("body");
                            });
                        });

                    });
                </script>

                    
                           



                <script src="assets/js/popper.min.js"></script>
                <!--<script src="assets/js/jquery-1.12.0.min.js"></script>-->
                <script src="assets/js/bootstrap.min.js"></script>
                <script src="assets/js/owl.carousel.min.js"></script>
                <script src="assets/js/article.js"></script>

            </div>

        </header>
        <script>

            $(document).ready(function () {
                //console.log('hola');

                //$("#NombreJuego").hide();

                $("#BotonEnviar").click(function () {

                    //console.log('hola');
                    var juego1 = $('#NombreJuego').val();
                    var rat1 = $('#RatJuego').val();

                    $.getJSON("http://127.0.0.1:5000/recomendar?juego1=" + juego1 + "&rat1=" + rat1, function (data) {
                        //console.log(data);
                        var items = [];

                        $.each(data, function (key, val) {
                            items.push("<li id='" + val + "'>" + key + "</li>");
                        });

                        $("<ul/>", {

                            html: items.join("")
                        }).appendTo("body");
                    });
                });

            });
        </script>
</body>

</html>