﻿e<!doctype html>
<html lang="en">

<head>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/style.css') }}">

    <title>Group Up And Play</title>
</head>

<body class="article-pg">


    <header class="mt-0 pt-0">
        <div class="bg-cover clearfix pt-3">
            <h2 class="logo">Group Up And Play</h2>
            <br />

            <h3> Esto es una Página para recomendarte Juegos de Mesa </h3>
            <br />
            <nav class="nav nav-fill mx-auto">

                <li class="nav-item">
                    <a class="nav-link" href="https://facebook.com/fh5co" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/fh5co" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
                </li>
                <!--<li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-rss"></i></a>
        </li>-->
            </nav>

            <br />
            <input type="text" id="nav-search" class="nav-search mx-auto" name="" class="form-control">
            <div class="ml-0 mr-0 pb-1">
                <nav class="navbar navbar-expand-md">

                    <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
                            aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
                            aria-label="Toggle navigation">
                        <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
                    </button>
                    <div id="my-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="recomanam">Recomendar Juego</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="juegos">Juegos</a>
                            </li>

                            <li class="nav-item">
                                <form action="" method="POST">
                                    <div class="input-group mt-0 mx-auto" style="width:16px;">


                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        





        <h3>Nombre Juego</h3>
        <input type="text" id="NombreJuego" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" id="RatJuego" value="" />
        <br />
        <br />

        <h3>Nombre Juego</h3>
        <input type="text" id="NombreJuego1" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" id="RatJuego1" value="" />
        <br />
        <br />

        <h3>Nombre Juego</h3>
        <input type="text" id="NombreJuego2" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" id="RatJuego2" value="" />
        <br />
        <br />

        <h3>Nombre Juego</h3>
        <input type="text" id="NombreJuego3" value="" />
        <h3>Calificación del Juego</h3>
        <input type="text" id="RatJuego3" value="" />
        <br />
        <br />


        <input type="button" id="BotonEnviar" value="Enviar" />
       








        <script src="assets/js/popper.min.js"></script>
        <!--<script src="assets/js/jquery-1.12.0.min.js"></script>-->
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/article.js"></script>

        </div>

    </header>
        <script>

            $(document).ready(function () {
                //console.log('hola');

                //$("#NombreJuego").hide();

                $("#BotonEnviar").click(function () {

                    //console.log('hola');
                    
                    var listajuegos = []
                    var listarating = []
                    var juego = $('#NombreJuego').val();
                    var rat = $('#RatJuego').val();
                    var juego1 = $('#NombreJuego1').val();
                    var rat1 = $('#RatJuego1').val();
                    var juego2 = $('#NombreJuego2').val();
                    var rat2 = $('#RatJuego2').val();
                    var juego3 = $('#NombreJuego3').val();
                    var rat3 = $('#RatJuego3').val();
                    //lista.push(juego1 + "," + rat1);
                    listajuegos.push(juego + "," + juego1 + "," + juego2 + "," + juego3);
                    listarating.push(rat + "," + rat1 + "," + rat2 + "," + rat3);



                    $.getJSON("http://127.0.0.1:5000/entrenando/?juegos=" + listajuegos + "&ratings=" + listarating, function (data) {
                        //$.getJSON("http://127.0.0.1:5000/entrenando/?ratings=" + lista, function (data) {
                        //console.log(data);
                        var items = [];

                        $.each(data, function (key, val) {

                            //$.each(val, function (key, val) {



                                //items.push("<li id='" + key + "'>" + val+ "</li>");
                                //items.push("<li id='" + key + "'>" + val.name1 + "</li>");
                            //});
                            

                            
                            items.push("<li></li>");
                            items.push("<li id='" + key + "'><h4>" + val.name + "</h4></li>");
                            items.push("<li></li>");
                            items.push("<li id='" + key + "'><img src =" + val.foto + "></li>");
                            items.push("<li></li>");
                            items.push("<li id='" + key + "'><h5>Descripción: " + val.desc + "</h5></li>");
                            items.push("<li></li>");
                            items.push("<li id='" + key + "'>Minimo de Jugadores: " + val.minp + "</li>");
                            items.push("<li id='" + key + "'>Maximo de Jugadores: " + val.maxp + "</li>");
                            items.push("<li id='" + key + "'>Tiempo Aproximado de Juego: " + val.playtime + "</li>");
                            items.push("<li id='" + key + "'>Edad Mínima para Jugar: " + val.minage + "</li>");
                            items.push("<li id='" + key + "'>Categorias: " + val.categorias + "</li>");
                            items.push("<li></li>");
                            items.push("<li></li>");





                        });

                        $("<ul/>", {

                            html: items.join("")
                        }).appendTo("body");


                        
                    });
                    
                });

            });
        </script>


</body>

</html>